.btnWrapper {
    border-radius: 4px;
    height: 25px;
    border: 1px solid black;
    background: lightgray;
    flex: 1;
    padding: 4px 12px;
}

.btnWrapper:hover {
    transform: scale(1.05, 1.05);
}